In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

In [ ]:
stockTicker = "AAPL"

In [ ]:
stockCSVFileName = "falling-knives-capstone/StockData/" + stockTicker + "Data.csv"

In [ ]:
stockCSVFileName

In [12]:
df = pd.read_csv(stockCSVFileName)

In [16]:
df.head()

         Date      High       Low      Open     Close       Volume  Adj Close
0  1980-12-12  0.515625  0.513393  0.513393  0.513393  117258400.0   0.406782
1  1980-12-15  0.488839  0.486607  0.488839  0.486607   43971200.0   0.385558
2  1980-12-16  0.453125  0.450893  0.453125  0.450893   26432000.0   0.357260
3  1980-12-17  0.464286  0.462054  0.462054  0.462054   21610400.0   0.366103
4  1980-12-18  0.477679  0.475446  0.475446  0.475446   18362400.0   0.376715

In [ ]:
sns.lmplot("Date", "Close", data=)